{% extends '/shared/admin_layout.html' %}

{% block title %}Book - {{books['name'] }}{% endblock %}

{% block content %}

<div class="container">
    <div class="search-form-container">
        {% if msg %}
            <div class="alert alert-success">{{ msg }}</div>
        {% endif %}
        <form action="/books/search" method="GET" class="search-form">
            <div class="form-group">
                <div class="input-container">
                    <input type="search" class="form-control" placeholder="Search for books..." autocomplete="on" autofocus aria-describedby="emailHelp" value="{{ keyword }}" />
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

    {% if books %}
        <div class="row">
            <div class="col-md-12">
                <div class="card book">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="../../static/img/bg.jpg" class="bg-img" alt="{{books[1]}}" />
                                <a href="edit/{{books['id']}}" class="btn ml-3 btn-outline-primary"><i class="bi bi-pen-fill"></i> Edit</a>
                                <a href="delete/{{books['id']}}" class="btn ml-3 btn-outline-danger"><i class="bi bi-trash"></i> Delete</a>

                                <div class="platforms mt-3 ml-3">
                                    <h4 class="font-weight-light" class="platform-title">Available on:</h4>
                                    <div class="platforms mt-3 ml-3">
                                        <i class="bi bi-xbox"></i>
                                        <i class="bi bi-youtube ml-2"></i>
                                        <i class="bi bi-windows ml-2"></i>
                                        <i class="bi bi-github ml-2"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <h2>{{books['name']}}</h2>
                                {% if books['available'] < 1 %}
                                    <span class="badge badge-warning">Assigned</span>
                                {% endif %}
                                <p class="card-text">{{books['desc']}}</p>
                                <p class="card-text font-weight-light"><strong>Author</strong> {{books['author'] }}</p>
                                <p class="card-text">
                                    <span class="badge badge-{{ 'primary' if books['count'] > 0 else 'secondary'}}">
                                        {% if books['count'] > 0 %}
                                            Books left: {{ books['count'] }}
                                        {% else %}
                                            All gone
                                        {% endif %}
                                    </span>
                                </p>

                                {% if books_owners %}
                                <hr class="mb-5 mb-4">
                                    <h4 class="font-weight-light">Book owners</h4>
                                    <div class="row">
                                        {% for user in book_owners %}
                                            <div class="owner col-md-4">
                                                <img class="mr-auto ml-auto" src="../../static/img/avatar.jpg" alt="Avatar">
                                                <p class="text-center">{{ user['name'] }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                <div class="card bwrapper">
                    <div class="text-center mb-4 error">
                        <i class="text-center mt-4 bi-book"></i>
                    </div>
                    <p class="text-center mb-4">No Book Found</p>
        </div>
    {% endif %}
</div>
{% endblock %}