{% extends'/share/admin_layout.html' %}
{% block title %}Manage Books - Edit {{book['name']}}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/img/home.css" type="text/css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="back">
            <a href="javascript:history.back()">
                <i class="bi bi-arrow-left"></i>
            </a>
        </div>
        <div class="d-flex justify-content-center">
            <form 
                class="edit-book-form form col-md-6" 
                role="form" 
                action="/admin/books/edit/{{book['id']}}" 
                method="post">
                <div class="form-group book-title">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title"  required value={{ book['name']}}>
                    <small class="form-text muted-text">Member will be able to search using the title.</small>"
                </div>

                <div class="form-group">
                    <label for="qty">Qty</label>
                    <input type="text" name="qty" id="qty" class="form-text" id="qty" required value={{ book['count'] }}>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" name="available" value="{{ book['available'] }}" {{'checked' if book['availability']==1] == 1 else '' }} class="form-check-input" id="available">
                    <label class="form-check-label" for="available">Available</label>
                    <small class="form-text text-muted">Book will not be shown to members if unchecked</small>
                </div>

                <div class="platforms mt-3 ml-3">
                    <h4 class="font-weight-light" class="platform-title">Available on:</h4>
                    <div class="platforms mt-3 ml-3">
                        <i class="bi bi-xbox"></i>
                        <i class="bi bi-youtube ml-2"></i>
                        <i class="bi bi-windows ml-2"></i>
                        <i class="bi bi-github ml-2"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="desc">Descriptions</label>
                    <textarea id="desc" name="desc" class="form-control">{{book['desc']}}</textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
{% endblock %}