{% extends "/shared/layout.html" %}
{% block title  %}Books{% endblock %}

{%block head %}
    {{ super() }}
    <link rel="stylesheet" href="../../static/home.css">
{% endblock %}

{% block content %}
    <div class="container h-75">
        <div class="col-md-12 mt-3">
            {% if msg %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endif %}
            <form action="/books/search" method="GET" class="search-form">
                <div class="form-group">
                    <div class="input-container">
                        <input 
                            type="search" 
                            class="form-control" 
                            placeholder="Search for books..." 
                            autocomplete="on" 
                            autofocus 
                            aria-describedby="emailHelp" 
                            value="{{ keyword }}" />
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-3">
            {% if books %}
                {% if search %}
                    <h4>Search Found ({{ count}}) </h4>
                {% endif %}
                {% for book in books %}
                    <div class="card book">
                        <img src"../../static/img/bg.jpg" class="card-img-top" alt="{{ book[1] }}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/books/{{ book['id'] }}">{{ book['name'] }}</a>
                            </h5>

                            {% if book['availibility'] < 1 %}
                                <span class="badge badge-warning">Assigned</span>
                            {% endif %}
                            <p class="card-text book-desc">{{ book['desc'] }}</p>
                            <p class="card-text">
                                <span class="badge badge-{{'primary' if book['count'] > 0 else 'secondary' ]}}">
                                    {% if book['count'] > 0 %}
                                        Boooks left: {{ book['count'] }}
                                    {% else %}
                                        All gone
                                    {% endif %}
                                </span>
                            </p>
                            {% if book['count'] > 0 %}
                                <a href="/books/add/{book['id']}" {{ 'disabled' if user_books!=None and str(book['id']) in user_books else '' }} class="btn btn-outline-warning" target="_blank"><i class="bi bi-journal-plus"></i> {{ 'added' if str(book['id']) in user_books else 'add' }} </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <h4>No books found</h4>
                    <p>Please contact a librarian.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}